<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <h1>Inventory System ✌️</h1>
    
        <form action="/check" id="form" class="button" method="POST">
          <select name="items" class="form-select">
            <option value="Category" data-display="">ProductCode</option>
            <option value="rice" name="select">001</option>
            <option value="salt"name="select">002</option>
            <option value="cooking oil" name="select">003</option>
            <option value="coffee" name="select">004</option>
            <option value="sugar" name="select">005</option>
            <option value="bread" name="select">006</option>
            <option value="onion" name="select">007</option>
            <option value="garlic" name="select">008</option>
            <option value="eggs" name="select">009</option>
            <option value="pork meat" name="select">010</option>
            <option value="beef meat" name="select">011</option>
            <option value="chicken meat" name="select">012</option>
            <option value="vinegar"name="select">013</option>
            <option value="ajinomoto" name="select">014</option>
            <option value="instant noodles" name="select">015</option>
            <option value="biscuits" name="select">016</option>
            <option value="tomatoes" name="select">017</option>
            <option value="eggplant" name="select">018</option>
            <option value="powedered milk" name="select">019</option>
            
          </select>
          <select name="participants" class="form-select ">
            <option value="">option</option>
            <option value="1">filter(not functional)</option>
            <option value="2">sort(not functional)</option>
            <option value="3">Category(not functional)</option>
            
          </select>
          <button type="submit" class="btn ">Select</button>
        </form>
        <div id="itemContainer" class="hidden">
          <%if (locals.items) {%>

            <h2 id="recipeTitle">
              <%= item.ProductCode%>
            </h2>
            
            <%} else {%>
              <h2>NO display</h2>
              <%}%>
        </div>

        
      </div>
    
</body>
</html>